<footer class="footer">
    <div class="footer_content">
        <!--<form name="sitesearch_footer" class="sitesearch_footer"-->
              <!--action="http://www.dflzm.com.cn/index.php/news/search">-->
            <!--<input name="q" value="Search" type="text">-->
            <!--<button class="search_btn">搜索</button>-->
        <!--</form>-->
        <!--<div class="hot_product">-->
            <!--<h2>热销车型</h2>-->
            <!--<ul>-->
                <!--<li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/2">全新景逸X5</a></li>-->
                <!--<li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/8">风行SX6</a></li>-->
                <!--<li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/11">乘龙H7牵引车</a></li>-->
                <!--<li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/14">乘龙T7牵引车</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<section class="sitemap">-->
            <!--<h2><span>网站地图</span></h2>-->
            <!--<ul>-->
                <!--<li class="map_about">-->
                    <!--<h3><a href="/">网站地图</a></h3>-->
                    <!--<div class="sitemap_sub">-->
                        <!--<ul>-->
                            <!--{volist name="menu" id="vo" key="k"}-->
                            <!--{if $vo.pid==1}-->
                            <!--<li><a href="/{$vo.url}">{$vo.title}</a></li>-->
                            <!--{/if}-->
                           <!--{/volist}-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->

                <!--<li class="map_fx">-->
                    <!--<h3><a href="http://www.dflzm.com.cn/index.php/product#东风风行">{$sys.name}</a></h3>-->

                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</section>-->
        <!--<div class="service_tel" data-bimg="true">-->
            <!--<h2>客户服务热线</h2>-->
            <!--<a href="tel:4008877668" title="客户风行销售服务热线" class="fxauto_servicetel">东风风行客户服务热线：400-887-7668</a>-->
            <!--<a href="http://www.fxauto.com.cn/" class="fxauto_site">东风风行</a>-->
            <!--<a href="tel:4008877669" title="乘龙汽车客户服务热线" class="cltruck_servicetel">乘龙汽车客户服务热线：400-887-7669</a>-->
            <!--<a href="http://www.cltruck.com.cn/" class="cltruck_site">乘龙汽车</a>-->
        <!--</div>-->

        <div class="footer_container">
            <div class="footerlink">
                <a href="http://huanbao.dflzm.com/" target="_blank">环保信息公示</a>
                <a href="http://www.dflzm.com.cn/index.php/disclaimer">法律声明</a>

                <a href="http://global.dflzm.com" target="_blank" class="English">English</a>
            </div>
            <div class="copyright"><span><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45020302000051"
                    target="_blank"><span data-bimg="true"></span>桂公网安备 45020302000051号</a></span> <span><a
                    href="http://www.miitbeian.gov.cn/" target="_blank">{$sys.bah}</a></span> <span>&copy; {$sys.copyright}</span>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="__INDEX__/js/index.js"></script>
<script src="__INDEX__/js/jqend.js"></script>
<!--页面底部公共-->

<script src="__INDEX__/js/jiance.js"></script>
</body>
</html>
