<footer class="footer">
    <div class="footer_content">
        <form name="sitesearch_footer" class="sitesearch_footer"
              action="http://www.dflzm.com.cn/index.php/news/search">
            <input name="q" value="Search" type="text">
            <button class="search_btn">搜索</button>
        </form>
        <div class="hot_product">
            <h2>热销车型</h2>
            <ul>
                <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/2">全新景逸X5</a></li>
                <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/8">风行SX6</a></li>
                <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/11">乘龙H7牵引车</a></li>
                <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/14">乘龙T7牵引车</a></li>
            </ul>
        </div>
        <section class="sitemap">
            <h2><span>网站地图</span></h2>
            <ul>
                <li class="map_about">
                    <h3><a href="http://www.dflzm.com.cn/index.php/about">关于柳汽</a></h3>
                    <div class="sitemap_sub">
                        <ul>
                            <li><a href="http://www.dflzm.com.cn/index.php/about">公司概况</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/brand">企业文化</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/history">发展历程</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/design">科研实力</a></li>
                            <li><a href="http://www.dflzm.com.cn/zhanting/" target="_blank">3D工厂漫游</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/technology">制造工艺</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/responsibility">社会责任</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/honor">资质荣誉</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/join">招商加盟</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/about/contactus">联系我们</a></li>
                        </ul>
                    </div>
                </li>

                <li class="map_fx">
                    <h3><a href="http://www.dflzm.com.cn/index.php/product#东风风行">东风风行</a></h3>
                    <div class="sitemap_sub">
                        <ul>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/23"
                                   data-id="23">风行T5</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/1" data-id="1">全新景逸S50</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/2"
                                   data-id="2">全新景逸X5</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/3"
                                   data-id="3">景逸X6</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/4"
                                   data-id="4">全新菱智M5</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/5"
                                   data-id="5">菱智M3</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/6" data-id="6">菱智V3
                                2019款</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/7"
                                   data-id="7">风行S500</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/8"
                                   data-id="8">风行SX6</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/9"
                                   data-id="9">风行F600</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/10" data-id="10">风行CM7</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/21" data-id="21">风行S50EV</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/22" data-id="22">菱智M5EV</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="map_cl">
                    <h3><a href="http://www.dflzm.com.cn/index.php/product#乘龙汽车">乘龙汽车</a></h3>
                    <div class="sitemap_sub">
                        <ul>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/11" data-id="11">H7牵引车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/12" data-id="12">H7载货车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/13" data-id="13">H7工程车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/14" data-id="14">T7牵引车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/15" data-id="15">H5牵引车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/16" data-id="16">H5载货车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/17" data-id="17">H5工程车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/18" data-id="18">新M3载货车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/19" data-id="19">新M3工程车</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/product/productinfo/20" data-id="20">L3载货车</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="map_salesService">
                    <h3><a href="http://www.dflzm.com.cn/index.php/service/deliver_service">销售与服务</a></h3>
                    <div class="sitemap_sub">
                        <ul>
                            <li><a href="http://www.cltruck.com.cn/carbuy/testdrive" target="_blank">商用车购车支持</a>
                            </li>
                            <li><a href="http://www.cltruck.com.cn/service/promise" target="_blank">商用车售后服务</a></li>
                            <li><a href="http://www.cltruck.com.cn/carbuy/dealers" target="_blank">商用车经销商</a></li>
                            <li><a href="http://www.fxauto.com.cn/index.php/buy_testdrive/"
                                   target="_blank">乘用车购车支持</a></li>
                            <li><a href="http://www.fxauto.com.cn/index.php/service_policy/"
                                   target="_blank">乘用车售后服务</a></li>
                            <li><a href="http://www.fxauto.com.cn/index.php/buy_dealers" target="_blank">乘用车经销商</a>
                            </li>
                            <li><a href="http://www.dflzm.com.cn/index.php/service/deliver_service">免费送车服务</a></li>
                        </ul>
                    </div>
                </li>
                <li class="map_news">
                    <h3><a href="http://www.dflzm.com.cn/index.php/news">新闻</a></h3>
                    <div class="sitemap_sub">
                        <ul>
                            <li><a href="http://www.dflzm.com.cn/index.php/news">热点动态</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/news/enterprise">柳汽新闻</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/news/activity">活动资讯</a></li>
                            <li><a href="http://www.dflzm.com.cn/index.php/news/evaluating">媒体评测</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </section>
        <div class="service_tel" data-bimg="true">
            <h2>客户服务热线</h2>
            <a href="tel:4008877668" title="客户风行销售服务热线" class="fxauto_servicetel">东风风行客户服务热线：400-887-7668</a>
            <a href="http://www.fxauto.com.cn/" class="fxauto_site">东风风行</a>
            <a href="tel:4008877669" title="乘龙汽车客户服务热线" class="cltruck_servicetel">乘龙汽车客户服务热线：400-887-7669</a>
            <a href="http://www.cltruck.com.cn/" class="cltruck_site">乘龙汽车</a>
        </div>
        <div class="wxgz">
            <a href="javascript:void(0)" onClick="tonewlayer('weixingz','id','',600,600,'weixingz')">
                <h2>关注我们</h2>
                <div id="weixingz">
                    <div class="ewm"><img
                            src="http://www.dflzm.com.cn/html/images/2016page/contactus_fxewm01.jpg"><br><span>东风风行公众号</span>
                    </div>
                    <div class="ewm"><img
                            src="http://www.dflzm.com.cn/html/images/2016page/contactus_fxewm02.jpg"><br><span>东风风行俱乐部</span>
                    </div>
                    <div class="ewm"><img
                            src="http://www.dflzm.com.cn/html/images/2016page/contactus_clewm01.jpg"><br><span>乘龙汽车公众号</span>
                    </div>
                    <div class="ewm"><img
                            src="http://www.dflzm.com.cn/html/images/2016page/contactus_clewm02.jpg"><br><span>乘龙汽车车联网</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="footer_container">
            <div class="footerlink">
                <a href="http://huanbao.dflzm.com/" target="_blank">环保信息公示</a>
                <a href="http://www.dflzm.com.cn/index.php/disclaimer">法律声明</a>

                <a href="http://global.dflzm.com" target="_blank" class="English">English</a>
            </div>
            <div class="copyright"><span><a
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45020302000051"
                    target="_blank"><span data-bimg="true"></span>桂公网安备 45020302000051号</a></span> <span><a
                    href="http://www.miitbeian.gov.cn/" target="_blank">桂ICP备05009427号-1</a></span> <span>&copy; 东风柳州汽车有限公司版权所有</span>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="__INDEX__/js/index.js"></script>
<script src="__INDEX__/js/jqend.js"></script>
<!--页面底部公共-->

<script src="__INDEX__/js/jiance.js"></script>
</body>
</html>
